# Byte-compiled / cache files
*.pyc
__pycache__/

# Airflow
.airflow/
*.db
*.log

# Python virtual environment
env/
venv/
airflow-venv/
airflow_venv/


# Credentials and secrets
*.json
*.jsonl
credentials/
secrets/

# VSCode files
.vscode/

# Temporary files
*.swp
.DS_Store

*.yml
localhost:ef

# Kafka runtime logs and system junk
kafka/logs/
